<!-- <html lang="en"> POSTS
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="posts list">
        <h2>All posts</h2>
        <% posts.forEach(post => { %>
        <h3 class="title">
            <%= post.id %>
            <%= post.title %>
        </h3>
        <p class="body">
            <%= post.body %>
            <%= post.urllink %>
        </p>
        <% }) %>
    </div>
    <nav>
        <a href="/<%=nav[0]%>">Home </a> |
        <a href="/<%=nav[1]%>">Posts page</a> |
        <a href="/<%=nav[2]%>">Contact us</a>
    </nav>
    <footer class="footer">
     <p><%= footer%></p>
    </footer>
</body>
</html> -->



<!-- <html lang="en"> INDEX
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= title %> </h1>
    <h2>We are learning Node.js</h2>
    <nav>
        <a href="/<%=nav[0]%>">Home </a> |
        <a href="/<%=nav[1]%>">Posts page</a> |
        <a href="/<%=nav[2]%>">Contact us</a>
    </nav>
    <footer class="footer">
     <p><%= footer%></p>
    </footer>
</body>
</html> -->